header {
    display: flex;
    padding: 1rem 2rem;
    background-color: rgb(173, 147, 0);

}details {
    display: flex;
    padding: 1rem 2rem;
    background-color: rgba(139, 20, 207, 0.39);
    
 }img { display: flex;
    padding: 1rem 2rem;
    background-color: rgb(0, 0, 0);
   
}p {
    display: flex;
    padding: 1rem 2rem;
    