header {
    display: flex;
    padding : 1rem 2rem;
    background-color: rgba(173, 147, 0, 0.664);
    border: 5px solid #000

}details {
    display: flex;
    padding: 1rem 2rem;
    background-color: rgba(139, 20, 207, 0.39);
    border: 4px solid #000
    
 }img { display: flex;
    padding: 1rem 2rem;
    background-color: rgb(0, 0, 0);
    border: 1px solid #000
   
} p { display: flex;
    padding: 1rem 2rem;
    background-color: rgba(255, 255, 255, 0.438);
    
    }strong2 { display: flex;
    padding: 1rem 2rem;
    background-color: rgba(1, 129, 95, 0.438);
    border: 4px solid #000

    } p { display: flex;
    padding: 4rem 2rem;
    background-color: rgba(255, 255, 255, 0.438);
 border: 4px solid #000  

    }h3 { display: flex;
    padding: 1rem 2rem;
    background-color: rgba(255, 28, 28, 0.438);
    border: 5px solid #000
   
   
  } style
  body {
   background-image: url('https://img.freepik.com/vecteurs-libre/fond-degrade-bleu-fonce_78370-2078.jpg?semt=ais_hybrid&w=740&q=80');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
     } style

     
